<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="css/manage.css" />
    <script src="bootstrap/js/jquery-2.1.1.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="js/config.js"></script>
    <script src="js/check.js"></script>
    <script src="js/vue.global.js"></script>
  </head>
  <body>
    <div class="container-fluid" id="app">
      <!-- 图像头start -->
      <div class="row">
        <img class="full-screen-250px" src="image/head2.jpg" />
      </div>
      <!-- 图像头end -->
      <!-- 菜单start -->
      <div class="row margin-top-15px">
        <!-- 左边的菜单start -->
        <div class="col-md-3">
          <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">
              手机维修管理系统
              <span id="info"></span>
            </div>
            <!-- List group -->
            <ul class="list-group">
              <a
                href="javascript:void(0)"
                @click="showPanel('cus')"
                class="list-group-item"
              >
                客户接待
              </a>
              <a href="#" class="list-group-item">维修管理</a>
              <a
                href="javascript:void(0)"
                @click="showPanel('fitting')"
                class="list-group-item"
              >
                配件查询
              </a>
              <a href="#" class="list-group-item">供应商管理</a>
              <a href="#" class="list-group-item">账户管理</a>
              <a
                href="javascript:void(0)"
                @click="exitLogin()"
                class="list-group-item"
              >
                退出登录
              </a>
            </ul>
          </div>
        </div>
        <!-- 左边的菜单end -->
        <!-- 右边的cusPanel start -->
        <div class="col-md-9" v-show="cusView">
          <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">客户业务代理列表</div>
            <!-- 菜单表单start -->
            <div class="panel-body">
              <form class="form-inline">
                <div class="form-group">
                  <label for="exampleInputName2">客户姓名：</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="请输入姓名"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail2">客户电话：</label>
                  <input
                    type="tel"
                    class="form-control"
                    id="phone"
                    placeholder="请输入电话"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail2">维修项目：</label>
                  <select class="form-control">
                    <option>电池</option>
                    <option>屏幕</option>
                    <option>背板</option>
                    <option>主板</option>
                    <option>摄像头</option>
                    <option>
                      其它：
                      <input
                        type="text"
                        class="form-control"
                        id="item"
                        placeholder="请输入内容"
                      />
                    </option>
                  </select>
                </div>
                <button type="submit" class="btn btn-warning">保存</button>
              </form>
            </div>
            <!-- 菜单表单end -->
            <!-- List group -->
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>任务编号</th>
                  <th>客户姓名</th>
                  <th>客户电话</th>
                  <th>维修项目</th>
                  <th>状态</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in tasks">
                  <td>{{item.task_no}}</td>
                  <td>{{item.cus_name}}</td>
                  <td>{{item.cus_phone}}</td>
                  <td>{{item.service_item}}</td>
                  <td>
                    {{item.task_state == 0 ? "录单完成":(item.tak_state == 1 ?
                    "维修中" : "等待取机") }}
                  </td>
                  <td>
                    <button
                      v-show="item.task_state == 0"
                      class="btn btn-warning"
                      @click="deleteTask(item.task_id)"
                    >
                      删除维修单
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- 右边的cusPanel end -->

        <!-- 右边的配件panel start -->
        <div class="col-md-9" v-show="fittingView">
          <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">配件列表</div>
            <!-- List group -->
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>配件编号</th>
                  <th>配件名称</th>
                  <th>库存数量</th>
                  <th>配件厂地</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="fitting in fittings">
                  <td>{{fitting.fit_id}}</td>
                  <td>{{fitting.fit_name}}</td>
                  <td>{{fitting.fit_qty}}</td>
                  <td>{{fitting.fit_factory}}</td>
                  <td>
                    <button class="btn btn-success">查看详情</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- 右边的配件panel end-->
      </div>
      <!-- 菜单end -->
    </div>
  </body>
  <script>
    const { createApp } = Vue;
    createApp({
      data() {
        return {
          code: "",
          msg: "",
          task: {},
          cusView: true,
          fittingView: false,
          fittings: [],
          tasks: [], //任务数据
        };
      },
      mounted() {
        $("#info").text("【 " + localStorage.getItem("admin_name") + " 】");
        this.loadTaskData();
      },
      methods: {
        exitLogin: function () {
          let result = confirm("确定要退出登录吗？");
          if (result) {
            localStorage.removeItem("admin_name");
            localStorage.removeItem("token");
            location.href = "login.html";
          }
        },
        login: function () {
          var that = this;
          var admin_name = $("#admin_name").val();
          var admin_password = $("#admin_password").val();
          var url = base_url + "AccountServlet";
          console.log(url);

          $.post(
            url,
            { admin_name: admin_name, admin_password: admin_password },
            function (data) {
              if (data.code >= 200 && data.code <= 299) {
                location.href = "manage.html";
                localStorage.setItem("admin_name", data.data.admin_name);
                localStorage.setItem("token", data.data.token);
              } else {
                that.msg = data.message;
              }
            }
          );
        },
        showPanel: function (panelName) {
          if (panelName == "cus") {
            this.cusView = true;
            this.fittingView = false;
            this.loadTaskData();
          } else {
            this.loadFittig();
            this.cusView = false;
            this.fittingView = true;
          }
        },
        loadFittig: function () {
          var that = this;
          var url = base_url + "/FittingServlet";
          $.post(url, function (data) {
            console.log(data);
            if (data.code >= 200 && data.code <= 299) {
              that.fittings = data.data;
            } else {
              that.msg = data.message;
            }
          });
        },
        loadTaskData: function () {
          var that = this;
          var url = base_url + "/TaskServlet";

          $.post(url, { choose: "findAllTasks" }, function (data) {
            console.log(data);
            if (data.code >= 200 && data.code <= 299) {
              that.tasks = data.data;
            } else {
              that.msg = data.message;
            }
          });
        },
      },
    }).mount("#app");
  </script>
</html>
